@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* Links da fontes chamada do google fonts */
/* Catálogo de cores no color hunter e fontes no google font */
:root {
    --cor-primaria:#000000;
    --cor-secudaria:#f6f6f6;
    --cor-terciaria:#22D4FD;
    --cor-hover:#272727;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria:  "montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing:border-box; 
    /* Essa propriedade garante que todos os elesmentos (tags) fiquem padronizados dentro de uma tag principal, ou seja o alinhamento de todo o contúdo de forma que não fique nada distorcido dentro da página. */
    /* height: 100vh;
    Essa propriedade garante que o conteúdo ocupe 100% da página. O "vh" referece à meta informação descrita do head "viewport" que é justamente a tela. */
    background-color:var(--cor-primaria);
    color:var(--cor-secudaria);
}

.cabecalho {
    padding:2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family:var(--fonte-secundaria);
    font-size: 1.5 rem;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}

.apresentacao__conteudo {
    width:50%; /* define a largura*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque {
    color:var(--cor-terciaria)
}

.apresentacao__conteudo__titulo {
    font-family:var(--fonte-primaria);
    font-size: 2.25rem; /* Essa propriedade define o tamanha da fonte e é em pixel (px) */
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);
}
.apresentacao__links {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family:var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width:50%;
    text-align: center; /* Alinha o texto ao centro do botão */
    border-radius:8px ;/* Arredonda a borda do raio do botão */
    font-size: 1.5rem;/* Define o tamanho da fonte */
    font-weight: 600;/* Define a espeçura da fonte */
    padding:21.5px 0; /* Define o espaçamento entre a borda e o texto do botão. Obs: O primento valor se refere ao espaçamento no sentido vertical, enquanto o segunto no sentido horizontal. */
    text-decoration:none; /* Essa propriedade remove a formatação padrão da ancora, que é sublinhada  */
    color:var(--cor-secudaria);/* Define a cor da font */
    font-family:var(--fonte-secundaria);  /* Define a família da font  */
}

.apresentacao__links__link:hover {
    background-color:var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    background-color:var(--cor-terciaria);
    color:var(--cor-primaria);
    padding: 24px;
    font-family:var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

@media(max-width:1200px) {
    .cabecalho {
        padding:10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding:5%;
    }

    .apresentacao__conteudo {
        width:auto;
    }
}